<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201814442769-8oqr8ecv5a0bf47rir3rujm2slvaccip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201814442769-8oqr8ecv5a0bf47rir3rujm2slvaccip</string>
	<key>API_KEY</key>
	<string>AIzaSyBCLE8Eu7Xc1RCZFLyr31M-PIbqf5UyC9I</string>
	<key>GCM_SENDER_ID</key>
	<string>201814442769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barterProject2023</string>
	<key>PROJECT_ID</key>
	<string>barter-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>barter-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201814442769:ios:6c70eea3c95b4458dbc2b0</string>
</dict>
</plist>